{% extends "index.html" %} {% block content %}
<script src="{{ url_for('static', filename = 'index2.js') }}"></script>
<body>
<!-- <div id="loader" class="center"></div> -->
<div class="container">
<br>
<span> You can enter the same topic for 5 new jokes. </span><br>
<span> You can also enter the topic for both inputs to also get 5 new jokes.</span>
 <div class="card"> <div class="mb-3">
    
    <label class="form-label">Name a subtopic to create more specific jokes about</label>
    <input
      type="text"
      class="form-control"
      id="subtopic_input"
      placeholder="Dogs"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">What kind of joke would you like?</label>
    <input
      type="email"
      class="form-control"
      id="info_input"
      placeholder="Exs: knock knock, hilarious, clever, etc."
    />
  </div>

  <button type="button" class="btn btn-primary" id="get_results2" href="/results">Submit</button>
</div>
</div>
</body>

{% endblock %}
